.flex-container {
    background-color: salmon;
    color: white;
    padding: 1em;
}


.flex-item {
    font-size: 5em;
    background-color: deepskyblue;
    border: 3px solid;
}

/**
 * STEP 01
 */
.flex {
    display: flex;
}


/**
 * STEP 02
 */
.inline-flex {
    display: inline-flex;
}